#image_0{background-image:url('Result.png'); background-position:0px -0px; width:1002px; height:562px; }
#image_1{background-image:url('Result.png'); background-position:1002px -0px; width:96px; height:96px; }
#image_2{background-image:url('Result.png'); background-position:1098px -0px; width:96px; height:96px; }
#image_3{background-image:url('Result.png'); background-position:1194px -0px; width:117px; height:54px; }
#image_4{background-image:url('Result.png'); background-position:1311px -0px; width:48px; height:48px; }
#image_5{background-image:url('Result.png'); background-position:1359px -0px; width:48px; height:48px; }
#image_6{background-image:url('Result.png'); background-position:1407px -0px; width:192px; height:2px; }
